<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body ng-init="name='David'">
    <h1 ng-bind="'Hello' + ' AngularJs'"></h1>
    <p>{{5+5}}</p> 
    
    <div ng-init="quantity=3;price=5;myArr=[1,2,3];str='mememem';obj={'name':'lior','age':41}" style="background-color : {{color}}" >
        <p>Quantity: {{quantity | number}}</p>
        <p>Price: {{price | currency}}</p>
        <p>Total: {{quantity * price | currency:"$":1}}</p>
        <p>MyArr: {{myArr}}</p>
        <p>MyStr: {{str | uppercase}}</p>
        <p>MyObj: {{obj}}</p>
        <div class="form-group" >
          <label for=""></label>
          <input type="text" ng-model="name"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Enter Name">  
          <h1>Hello {{name}}</h1>
          <label for="">Color: </label><input type="text" ng-model="color"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Enter Name"> 
        </div>
    </div>
</body>
</html>