*{
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
}

main,nav{
   /* border: 3px solid black;*/
}

nav{
    float: left;
    margin: 0 20px;
    border: 3px solid black;    
}

main{
    /*margin-left: 100px;
    margin-right: 100px; */
    
}

a{
    display: block;
    margin: 20px 0;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.detail-area{    
    /*padding-left: 50px;*/
    margin:20px;
}

.content{
    font-size: 26px;
}
