
*{
    box-sizing: border-box;
    border:1px solid;
}


/* class for elements that represent rows the row is essentially clearfix - the next element will start next row */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* class for elements that reperesent column */
.column{
    float:left;
}

.width-25 {
    width: 25%;
}

.width-37-5{
    width:37.5%;
}

.width-50{
    width: 50%;
}