<!DOCTYPE html>
<html ng-app="actorApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="app.js"></script>
</head>

<body ng-controller="actorCtrl">
    <div class="container">
        <h1>Favorite Actors</h1>
        <form class="search-form">
            <input type="text" class="form-control" placeholder="search actor" ng-model="queryText" ng-change="searchChange()">
            <div class="search-results list-group" ng-show="searchResults.length > 0">
                <a ng-click="addActor(result)" href="#" class="list-group-item list-group-item-action" ng-repeat="result in searchResults">{{result.name}}</a>
            </div>
        </form>
        <div class="row">
            <div class="col-md-3 my-3" ng-repeat="actor in favActors">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" ng-src="{{actor.imageUrl}}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a ng-href="{{actor.imdbUrl}}" target="_blank">{{actor.name}}</a></h4>
                            <p class="card-text">{{actor.birthday | date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>