.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    right :0;
    top : 20px;
    /* box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.3); */
}

.dropdown:hover > .dropdown-content{
    display:block;
}

.dropdown-content > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content{
    width: 120px;
    background-color: gray;
    /* float:right; */
    z-index: 10;
}

.dropdown-content > ul >li >a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.seperator{
    width: 100%;
    zoom: 1;
    padding: 0;
    margin: 0;
    height: 1px;
    background: url('../header-menu-images/menu_dropdown_sep.png') repeat-x 0 0;
}

.menubar{
    direction: rtl;
    display: inline;
    padding : 0; 
   
}

.menubar > ul{     
    list-style: none;
    padding: 15px 0;
    /* border: 1px solid;     */
    /* margin: 0 10%;    */
}

.menubar > ul > li{
    /* margin-right: 10px; */
    display: inline;         
}

.menubar > ul > li > a{    
    text-decoration: none;
    font-size: 16px;
    /* padding: 10px; */
    font-family: Arial;
    display: inline-block;
    color:white;
    font-weight: bold;   

}

.menubar > ul > li > a:hover,.dropdown-content > ul >li >a:hover {
    text-decoration: underline;
    color: blue;
}

.logo {    
    float:right;
    /* margin-top: 5px;  */
    /* margin-right: 10%;          */
}

.menu-item{
    padding: 0 5px;    
}