
nav > .search-bar{
    display: inline-block;  
    direction: ltr;
    border: 1px solid; 
    padding : 10px 0; 
    /* margin: 0 10%;  */
}

nav > .search-bar > button{
    width:19px;
    height:19px;       
}

nav > .search-bar > button > img{  
    border:0;
}
