<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" href="css/main.css" />
    <!--script src="main.js"></script>-->
</head>
<body>
    <header class="debug-border">Michal Gad</header>
    <nav class="debug-border">
        <a>About</a>
        <a>Product</a>
        <a>Pricing</a>
        <a>Contact</a>
    </nav>
    <main class="clearfix debug-border">
        <p class="debug-border">מיכל גד המקסימה והנהדרת</p>
        <p class="debug-border">תלמידה מצטיינת !!!!!</p>
    </main>
    <footer class="debug-border">i am the footer</footer>    
</body>
</html>