.navbar{
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: #592059;
    border-width: 0 0 1px;
    background-color: #e3f2fd;
}

#portfolio-img{
    width: 300px;
    height: 250px;
}

.container-bottom{
    background-color: #e3f2fd;
    height : 48px;
}

i{
    font-size:36px;
}

.bg-pallete-2018-blue{
    background : #a2b9bc;
}

.bg-pallete-2018-brown{
    background : #b2ad7f
}

.bg-pallete-2018-gray{
    background:#878f99
}

.bg-pallete-2018-purple{
    background:#6b5b95
}

