h1{
    color: green /*!important*/;
    background-color: rgb(255, 0,0);
    border: solid black 5px;
    text-align: center;
    margin-top: 50px;                
    width: 250px;
    border-radius: 20px;
}
p{
    line-height: 50px;
    word-spacing: 20px;
}
body{
    color: yellow;
    font-size: 26px;
    text-align: center;
}
